<div class="card text-dark bg-light mb-3">
  <div class="card-header shadow">
    <h3>新規登録</h3>
  </div>

  <div class="card-body">
    <%# resourceはdeviseで使うモデルのインスタンスのことを指す。 %>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    
      <div class="field">
        <% f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email",
        class:"form-control shadow", placeholder: "メールアドレス",
        id: "email" %>
      </div>
    
      <div class="field">
        <% f.label :password %><br />
        <%= f.password_field :password, autocomplete: "new-password",
        class:"form-control shadow", placeholder: "パスワード (#{@minimum_password_length}文字以上)",
        id: "password" %>
      </div>
    
      <div class="field">
        <% f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password",
        class:"form-control shadow", placeholder: "パスワード確認",
        id: "password-confirm" %>
      </div><br/>
    
      <div class="actions field text-end">
        <%= f.submit "登録する", class:"btn btn-dark shadow" %>
      </div>
    <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>
