<p>
<button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#self" aria-expanded="false" aria-controls="collapseExample">
  自分で追加
</button>
<button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#temp" aria-expanded="false" aria-controls="collapseExample">
  テンプレートから追加（未実装）
</button>
</p>



<div class="collapse" id="self"><br/>
<div class="card card-body">
  <%= form_with(model: sub, url: "/subs") do |form| %>

    <div class="field">
      <%= form.text_field :sub_name, class:"form-control",
                          placeholder: "サービス名" %>
    </div><br/>

    <div class="field">
      <%= form.number_field :fee, class:"form-control",
                          placeholder: "料金" %>
    </div><br/>

    <div class="actions">
      <%= form.submit "追加", class:"btn btn-success" %>
    </div>
  <% end %>
</div>
</div>


<div class="collapse" id="temp"><br/>
<div class="card card-body">
  <%= form_with(model: sub, url: "/subs") do |form| %>

    <div class="field">
      <%= form.text_field :sub_name, class:"form-control",
                          placeholder: "サービス名" %>
    </div><br/>

    <div class="field">
      <%= form.number_field :fee, class:"form-control",
                          placeholder: "料金" %>
    </div><br/>

    <div class="actions">
      <%= form.submit class:"btn btn-success" %>
    </div>
  <% end %>
</div>
</div>

