<%# 編集フォーム %>
<div class="card text-dark mb-3">
  <div class="card-header shadow">
    <h3>サービス内容<span class="zyo">の</span>編集</h3>
  </div>
  <div class="card-body">
    <%= form_for(@sub) do |form| %>
      <%= render "error", sub: @sub %>
      <%= render "form", form: form %>

      <br/>

      <div class="field row justify-content-end">
        <div class="col-auto ml-atuo me-1">
          <%= form.submit "変更を適用", class:"btn btn-dark shadow" %>
        </div>

        <div class="col-auto border-none">
          <%= link_to "戻る", subs_path, class:"btn btn-dark shadow" %>
        </div>
      </div>
    <% end %>
  </div>
</div>