<h1>登録サービス一覧</h1><br/>

<% if @subs.count != 0 %>
  <%= "料金　" + @total_fee.to_s + "/月です" %><br/>
  <table class="table table-striped table-bordered table-light table-hover">
    <thead class="table-dark">
      <tr>
        <th>サービス名</th>
        <th>料金</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @subs.each do |sub| %>
        <tr>
          <td><%= sub.sub_name %></td>
          <td><%= sub.fee %></td>
          <td><%= link_to '編集', edit_sub_path(sub) %></td>
          <td><%= link_to '削除', sub, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>サービスが登録されていません。</p><br/>
  <%= link_to  "登録", new_sub_path, class:"btn btn-success" %>
<% end %>