<h1>登録サービス一覧</h1><br/>

<%# サービスが登録されていれば %>
<% if @subs.count != 0 %>
  <p>
    <%= "料金は" + @total_fee.to_s + "円/月です。" %>
  </p>
  <br/>

  <table class="table table-striped table-bordered table-light table-hover">
    <thead class="table-dark">
      <tr align="center">
        <th>サービス名</th>
        <th>料金</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @subs.each do |sub| %>
        <tr>
          <td align="center"><%= sub.sub_name %></td>
          <td align="center"><%= sub.fee.to_s + "円" %></td>
          <td align="center"><%= link_to '編集', edit_sub_path(sub) %></td>
          <td align="center"><%= link_to '削除', sub, method: :delete,
           data: { confirm: '削除してよろしいですか？' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div>

  </div>

<%# 一つも登録がなければ %>
<% else %>
  <p>サービスが登録されていません。</p><br/>
  <%= link_to  "サービスを追加登録", new_sub_path, class:"btn btn-success" %>
<% end %>