<h3>登録サービス一覧</h3><br/>

<%# サービスが登録されていれば %>
<% if @subs.count != 0 %>
  <div class="flash-notice">
    <%= flash[:notice] %>
  </div>

  <div class="fee-pie">
    <div class="fee">
      <p id="first"><%= "月々の料金は" %></p>
      <h1><%= @total_fee.to_s(:delimited) + "円" %></h1>
      <p id="end"><%= "です。" %></p>
    </div>

    <%# 円グラフ %>
    <div class="pie-con">
      <p class="chart-title">料金内訳</p>
      <%= pie_chart @chart, legend: false, 
      class: "pie-chart", loading: "loading...",
      dataset: {borderColor: "#001220", borderWidth: "3"},
      suffix: "円", thousands: ",",
      donut: true,
      colors: ["#0b3517", "#125635", "#1a7a59", "#21a17f", "#00bc41", "#64e449", "#afed7c", "#e4eda9"]
      %>
    </div>
  </div><br/>

  <table class="table table-striped table-light table-hover">
    <thead class="table-dark">
      <tr align="center">
        <th>サービス名</th>
        <th>料金</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @subs.each do |sub| %>
        <tr>
          <% if sub.url.blank? %>
            <td align="center"><%= sub.sub_name %></td>
          <% else %>
            <td align="center"><%= link_to sub.sub_name, sub.url,
            target: :_blank, rel: "noopener noreferrer", class: "name" %></td>
          <% end %>
          <td align="center"><%= sub.fee.to_s(:delimited) + "円 " + sub.period %></td>
          <td align="center"><%= link_to '編集', edit_sub_path(sub), class:"btn btn-link btn-sm" %></td>
          <td align="center"><%= link_to '削除', sub, method: :delete,
           data: { confirm: '削除してよろしいですか？' }, class:"btn btn-link btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table><br/>

  <div class="row unta">
    <div class="pagiWrapper col-auto">
      <%= paginate @subs %>
    </div>
    
    <div class="col-auto">
      <%= link_to "サービスを追加登録",  new_sub_path, 
      class: "btn btn-success text-nowrap" %>
    </div>
  </div>

<%# 一つも登録がなければ %>
<% else %>
  <p>サービスが登録されていません。</p><br/>
  <%= link_to  "サービスを追加登録", new_sub_path, 
  class:"btn btn-success text-nowrap" %>
<% end %>